<mat-toolbar color="primary">
  <!-- <button mat-icon-button type="button" aria-label="Toggle sidenav" mat-icon-button>
    <mat-icon (click)="toggleSideBar()">menu</mat-icon>
  </button> -->
  <a mat-icon-button class="mat-button">
    <div mat-ripple class="mat-ripple">
      <mat-icon (click)="toggleSideBar()">三</mat-icon>
    </div>
  </a>
  <a mat-button class="mat-button">
    <div mat-ripple class="mat-ripple">
      VB
    </div>
  </a>
  <a mat-button class="mat-button">
    <div mat-ripple class="mat-ripple">
      test
    </div>
  </a>
  <a mat-button>
    <div mat-ripple>
      Logout
    </div>
  </a>
</mat-toolbar>