<mat-toolbar color="primary">
  <a *ngIf="hasHamburger" mat-icon-button class="mat-button">
    <div mat-ripple class="mat-ripple">
      <mat-icon (click)="toggleSideBar()">A</mat-icon>
    </div>
  </a>
  <a mat-button class="mat-button">
    <div mat-ripple class="mat-ripple">
      VB
    </div>
  </a>
  <a mat-button routerLink="/top">
    <div mat-ripple>
      Top
    </div>
  </a>
  <a mat-button routerLink="/match/list">
    <div mat-ripple>
      Match
    </div>
  </a>
  <a mat-button routerLink="/">
    <div mat-ripple>
      Info
    </div>
  </a>
</mat-toolbar>